.classified-container{
    display: flex;
    flex-direction: horizontal;
    border-style: solid;
    padding: 30px 60px 30px 60px;
    width: 500px;
    margin: 5px 0;
}

.inner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inner-info > h2 {
  margin-bottom: 5px;
  margin-top: 0;
}

.inner-info > img {
  height: 75px;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.inner-info > p {
  margin: 3px 0;
  padding: 2px 0;
}

.inner-info > p:nth-of-type(odd){
  background: lightblue;
}

