.form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.form > .DayPickerInput > input {
  margin: 0 15px;
  /* width: calc(100%/3); */
}

.form > div:nth-of-type(2) > input {
  width: 215px;
}

