html, body {
  background-color: rgb(255, 255, 255);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 5%;
  color: rgb(34, 34, 34);
}

.logo {
  width: 150px;
  color: rgb(60, 60, 60);
}

.logo-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}