.main-container {
  display: flex;
  justify-content: center;
  margin: 1rem 5%;
  flex-direction: column;
  *{
    margin: 0.6rem auto;
  }
 color: rgb(34, 34, 34);
}

html {
  background-color: rgb(255, 255, 255);
}

.logo {
  width: 150px;
  color: rgb(60, 60, 60);
}

.subtitle{
max-width: 756px;
text-align: center;
}

.logo-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}