.button{
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: white
}